.producto-card {
  display:grid;
  margin: 0px;
  border-radius: 15px;
  margin-bottom: 1.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.imagen-container {
  position: relative; /* CLAVE */
  width: 100%;
  height: 350px;
  overflow: hidden;
  margin:0px;
}

.producto-imagen {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info-container {
  margin-top: 1rem;
  margin-bottom: 0px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.producto-titulo {
  font-weight: bold;
  margin: 0 0 1rem 0;
  color: #333;
  line-height: 1.2;
  margin-right: 1rem;
  margin-left: 1rem;
}

.producto-descripcion {
  color: #666;
  margin: 0 0 1rem 0;
  line-height: 1.3;
  margin-right: 1rem;
  margin-left: 1rem;
}

.detalle-item {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: start;
  background-color: #e8e8e8;
  border-radius: 5px;
  height: 4rem;
  gap: 0.5rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

.detalle-label {
  margin-top: 0.5rem;
  margin-left: 1rem;
  color: #888;
  font-weight: 500;
}

.detalle-valor {
  margin-left: 1rem;
  color: #333;
  font-weight: 600;
}

.fecha-section {
  display: flex;
  align-items: center;
  border-radius: 8px;
  height: 2rem;
  margin-top: 0.5rem;

}

.icon {
  margin-right: 1rem;
  margin-left: 1rem;
  color: #888;
  font-size: 1.5rem;
}

.fecha-texto {
  margin-left: 8px;
  color: #333;
}

.usuario-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e8e8e8;
  border-radius: 10px;
  height: 10rem;
  margin-top:1rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

.usuario-info {
  display: flex;
  justify-content: left;
  align-items: start;
}

.avatar {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: #ff3f84;
  margin-top: 0.5rem;
  margin-right: 8px;
  margin-left: 2.5rem;
}

.usuario-datos {
  display: flex;
  flex-direction: column;
}

.usuario-nombre {
  margin-top:1rem;
  font-weight: 600;
  color: #333;
}

.usuario-rating {
  display: flex;
  align-items: center;
  color: #666;
}

.rating {
  margin-left:10px;
  color: #ff9500;
  font-weight: 600;
}

.rating-star {
  margin-left:5px;
  color: #ff9500;
  font-size: 15px;
  font-weight: 500;
  padding-bottom:2px;
}

.separador {
  margin: 0 4px;
}

.btn-perfil {
  --color: #ff3f84;
  --padding-start: 8px;
  --padding-end: 8px;
  font-weight: 600;
  margin-bottom: 10px;
  border-radius: 15px;
  border-style: solid;
  border-color: #ff3f84;
  width: 20rem;
}

.chip-group{
  display:flex;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
.chip-intercambio {
  position: absolute;
  bottom: 8px;        /* 8px desde abajo */
  left: 8px;          /* 8px desde la izquierda */
  box-shadow: 0 2px 8px rgba(96, 95, 95, 0.5);
  font-size: 14px;
  padding: 8px 12px;
  z-index: 10;
}
.chip-rosa {
  --background: #FFE2E3;
  --color: #FF3FBF;
  box-shadow: 0 2px 8px rgba(96, 95, 95, 0.5);
  margin: 10px;
}

.chip-azul{
  --background: #c6dfff;
  --color: #5056FF;
  box-shadow: 0 2px 8px rgba(96, 95, 95, 0.5);
  margin: 10px;
}

.fecha-date{
  color: #FF3FBF;
}

