<div class="producto-card">
  <ion-grid>
    <ion-row>
      <div class="imagen-container">
        <ion-img
          [src]="primeraImagen"
          alt="Imagen del producto"
          class="producto-imagen"
        ></ion-img>

        <ion-chip
          [ngClass]="producto?.tipo === 'Intercambio' ? 'chip-rosa' : 'chip-azul'"
          class="chip-intercambio"
        >
          <b>{{ producto?.tipo }}</b>
        </ion-chip>
      </div>
    </ion-row>

    <ion-row>
      <div class="info-container">
        <h2 class="producto-titulo">{{ producto?.titulo }}</h2>
        <p class="producto-descripcion">{{ producto?.descripcion }}</p>

        <div class="chip-group">
          <ion-chip
            *ngFor="let est of estilos"
            [ngClass]="producto?.tipo === 'Intercambio' ? 'chip-rosa' : 'chip-azul'"
          >
            <b>{{ est }}</b>
          </ion-chip>
        </div>

        <div class="detalles-section">
          <ion-row>
            <ion-col>
              <div class="detalle-item">
                <span class="detalle-label">Talla</span>
                <span class="detalle-valor">{{ producto?.talla }}</span>
              </div>
            </ion-col>
            <ion-col>
              <div class="detalle-item">
                <span class="detalle-label">Estado</span>
                <span class="detalle-valor">{{ producto?.estado }}</span>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <div class="detalle-item">
                <span class="detalle-label">Marca</span>
                <span class="detalle-valor">{{ producto?.marca }}</span>
              </div>
            </ion-col>
            <ion-col>
              <div class="detalle-item">
                <span class="detalle-label">Color</span>
                <span class="detalle-valor">{{ producto?.color }}</span>
              </div>
            </ion-col>
          </ion-row>
        </div>

        <div class="fecha-section">
          <ion-icon class="icon" name="location-sharp"></ion-icon>
          <p class="fecha-texto">Ubicación: </p>
          <p class="fecha-date margen-left"><b>{{usuario?.direccion}}</b></p>
        </div>

        <ng-container *ngIf="producto?.tipo !== 'Intercambio'">
          <div class="fecha-section">
            <ion-icon class="icon" name="cash-sharp"></ion-icon>
            <p class="fecha-texto">Precio por día: </p>
            <p class="fecha-date margen-left"><strong>{{ producto?.precio }} €</strong></p>
          </div>
        </ng-container>

        <div class="fecha-section">
          <ion-icon name="calendar-sharp" class="icon"></ion-icon>
          <p class="fecha-texto">Disponible hasta el: </p>
          <p> </p>
          <p class="fecha-date margen-left"><strong> {{ producto?.fechaDevolucion }}</strong></p>
        </div>

        <ion-row class="usuario-section">
          <ion-col class="usuario-info">
            <ion-img [src]="usuario?.urlImg" class="avatar"></ion-img>
            <h2 class="usuario-nombre">{{ usuario?.nombre }} {{ usuario?.apellidos }}</h2>
          </ion-col>

          <div class="usuario-datos">
            <div class="usuario-rating">
              <p class="rating">{{usuario?.raiting}}</p>
              <ion-icon class="rating-star" name="star"></ion-icon>
              <p class="separador">·</p>
              <p class="intercambios">{{usuario?.intercambios}} intercambios</p>
            </div>
          </div>

          <div>
            @if(usuario?.id !== idUsuarioLogueado){
              <ion-button fill="clear" class="btn-perfil"
                          [routerLink]="['/perfil-otro', usuario?.id]">
                Ver perfil
              </ion-button>
            }@else{
              <ion-button fill="clear" class="btn-perfil"
                          [routerLink]="['/perfil']">
                Ver perfil
              </ion-button>
            }
          </div>
        </ion-row>
      </div>
    </ion-row>
  </ion-grid>
</div>
