<ion-card class="info-card">

  <ion-card-title class="margen margeny">Fotos</ion-card-title>

  <ion-grid class="centro-separador">

    <ion-button fill="clear" class="btn-agregar-foto" (click)="abrirGaleria()">
      <ion-icon size="large" name="camera"></ion-icon>
      <p class="margen">Añadir fotos</p>
    </ion-button>

    <ion-button fill="clear" class="btn-agregar-galeria" (click)="abrirGaleria()">
      <ion-icon size="large" name="image"></ion-icon>
      <p class="margen">Galería</p>
    </ion-button>

  </ion-grid>

</ion-card>
