<ion-card class="carta-redonda">

  <!-- Contenedor de imagen y FABs -->
  <div class="contenedor-imagen">

    <!-- FAB: corazón arriba derecha -->
    <ion-fab class="fab-derecha" (click)="$event.stopPropagation()">
      <ion-fab-button
        class="boton-fab"
        size="small"
        color="transparent"
        (click)="toggleFavorito()">

        <ion-icon
          size="large"
          [name]="esFavorito ? 'heart' : 'heart-outline'"
          [color]="esFavorito ? 'danger' : 'light'">
        </ion-icon>

      </ion-fab-button>
    </ion-fab>

    <!-- FAB: chip abajo izquierda -->
    <ion-fab class="fab-izquierda">
      <ion-chip [ngClass]="producto()?.tipo === 'intercambio' ? 'chip-rosa' : 'chip-azul'">
        <b>{{(producto()?.tipo | titlecase) || 'Intercambio'}}</b>
      </ion-chip>
    </ion-fab>

    <!-- Imagen -->
    <ion-img [src]="producto()?.urlImgProducto || 'assets/icon/card-media.png'"/>
  </div>

  <ion-card-header>
    <ion-card-title>{{producto()?.titulo}}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-grid class="sin-margen">

      <ion-row>
        <ion-col class="izquierda">
          <p class="sin-margen desborde">Talla {{producto()?.talla}}</p>
          <p class="margen desborde">•</p>
          <p class="margen estado-color desborde">{{producto()?.estado}}</p>
          <ng-container *ngIf="producto()?.tipo !== 'intercambio'">
            <p class="margen precio-color desborde">•</p>
            <p class="margen precio-color desborde">{{ producto()?.precio }} €/día</p>
          </ng-container>
        </ion-col>

        <ion-col class="derecha">
          <ion-icon class="para-iconos" name="calendar-number-outline"></ion-icon>
          <p class="margen">{{producto()?.fechaDevolucion}}</p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <p class="sin-margen color-nombre">{{producto()?.nombreUsuario}} {{producto()?.apellidosUsuario}}</p>
        </ion-col>

        <ion-col class="derecha">
          <ion-icon class="para-iconos estrella-color" name="star"></ion-icon>
          <p class="margen puntuacion">{{producto()?.raiting}}</p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="izquierda">
          <ion-icon size="small" name="location-outline"></ion-icon>
          <p class="margen">{{producto()?.ubicacionUsuario}}</p>
        </ion-col>

        <ion-col class="derecha">
          <p class="sin-margen">Publicado {{producto()?.fechaCreacion}}</p>
        </ion-col>
      </ion-row>

    </ion-grid>
  </ion-card-content>

</ion-card>
