<div class="contenedor-producto">
    <img salt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" class="imagen-producto">

    <div class="info-producto">
        <p class="titulo-producto">Vestido verde Versace</p>
        <div class="detalle-producto">
            <ion-badge color="primary" class="etiqueta intercambio">Intercambio</ion-badge>
            <ion-badge class="etiqueta excelente">Excelente</ion-badge>
            <span class="talla">Talla M</span>
            <ion-icon name="calendar-outline" class="icono-fecha"></ion-icon>
            <span class="fecha">15/12/25</span>
        </div>
    </div>
</div>

