:host {
  display: block;
}

/* ion-content DEBE quedarse en bloque */
ion-content.fondo {
  --background: linear-gradient(125deg, #b0d2ff 0%, #f45097 100%);
}

/* El centrado se hace en un wrapper interno */
.contenedor-central {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  box-sizing: border-box;
}

.contenedor-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2vh;
}

.logo {
  width: 10rem;
  height: 10rem;
}

.subtitulo {
  color: #fff;
  margin-top: 1rem;
  font-size: 1rem;
  text-align: center;
}

.card-login {
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(131, 131, 131, 0.4);
  width: 100%;
  max-width: 400px;
  padding: 2rem 1.5rem;
  text-align: center;
}

.titulo {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 1rem;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.tab {
  border: none;
  background: #f0f0f0;
  color: #777;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  margin: 0 0.3rem;
  font-weight: 500;
  transition: 0.2s;
}

.tab.activo {
  background: #fff;
  color: #f45097;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* ion-item NO se toca con display */
ion-item.input-item {
  --background: #f9f9f9;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.acciones {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 0.8rem;
  margin-bottom: 1.5rem;
  color: #444;
}

.olvide {
  color: #f45097;
  text-decoration: none;
}

.btn-iniciar {
  --background: linear-gradient(90deg, #f45097, #b0d2ff);
  --border-radius: 12px;
  height: 45px;
  font-weight: 600;
  color: white;
}

.google-box {
  margin-top: 1.2rem;
}

.btn-google {
  --border-color: #ccc;
  color: #444;
  border: 1px solid #717171;
  --border-radius: 12px;
}

.google-icon {
  font-size: 18px;
  margin-right: 8px;
}
