<ion-card class="info-card">
  <ion-card-header>
    <ion-card-title>Mis tallas</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <div class="tallas-container">

      <div class="talla-item">
        <p>Camiseta</p>
        <ion-chip class="talla-chip" (click)="elegirTalla('tCamiseta')">
          {{ usuario()?.tCamiseta }}
        </ion-chip>
      </div>

      <div class="talla-item">
        <p>Pantalón</p>
        <ion-chip class="talla-chip" (click)="elegirTalla('tPantalon')">
          {{ usuario()?.tPantalon}}
        </ion-chip>
      </div>

      <div class="talla-item">
        <p>Calzado</p>
        <ion-chip class="talla-chip" (click)="elegirTalla('tCalzado')">
          {{ usuario()?.tCalzado}}
        </ion-chip>
      </div>

    </div>
  </ion-card-content>
</ion-card>
