<ion-header class="bordes-redondeados fondo">
  <ion-toolbar class="menu-superior fondo">
    <ion-grid>

      <ion-row class="caja-menu-sup">
        <ion-col>
          <h1 class="izquierda"><b>Explorar</b></h1>
        </ion-col>

        <ion-col class="derecha">
          <ion-icon style="font-size: 45px;" name="options-outline"></ion-icon>
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-toolbar>

  <ion-toolbar class="bordes-redondeados fondo">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-searchbar style="--border-radius: 30px; margin-top: 6px;" placeholder="Buscar prenda"></ion-searchbar>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

  <ion-content [fullscreen]="true">
    <ion-grid>
      <ion-row>
        <ion-col>
          @for(pro of productos(); track pro.id){
            @if(pro.id !== undefined && pro.id !== null){
              <app-carta-horizontal-intercambio
                [producto]="pro"
                [routerLink]="['/anuncio-intercambio', pro.id]"
                class="contenedor-cartas"/>
            }
          }
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-content>
