<ng-container *ngIf="mostrar">
  <ion-footer style="background-color: #c6c6c6">
    <ion-toolbar>
      <ion-grid>
        <ion-row class="fila">
          <ion-router-link routerLink="/home">
            <ion-button fill="clear">
              <ion-icon size="large" name="home-outline"></ion-icon>
            </ion-button>
          </ion-router-link>

          <ion-router-link routerLink="/explorar">
            <ion-button fill="clear">
              <ion-icon size="large" name="search-outline"></ion-icon>
            </ion-button>
          </ion-router-link>

          <ion-router-link routerLink="/publicar">
            <ion-button fill="clear">
              <ion-icon size="large" name="add-circle-outline"></ion-icon>
            </ion-button>
          </ion-router-link>

          <ion-router-link routerLink="/chat">
            <ion-button fill="clear">
              <ion-icon size="large" name="chatbox-outline"></ion-icon>
            </ion-button>
          </ion-router-link>

          <ion-button fill="clear" [routerLink]="['/perfil', usuario]">
            <ion-icon size="large" name="person-outline"></ion-icon>
          </ion-button>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-footer>
</ng-container>
