<ion-card class="carta-redonda">
  <ion-grid>
    <ion-row>

      <ion-col class="centro" size="3.5">
        <img class="img_prod" alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
      </ion-col>

      <ion-col>
        <ion-card-title class="letra">Título de prenda</ion-card-title>

        <ion-row style="margin-top:3px;">

          <ion-col class="izquierda sin-margen">
            <p class="sin-margen">por Nombre Apellido</p>
          </ion-col>

          <ion-col size="3" class="derecha">
            <ion-icon class="para-iconos estrella-color" name="star"></ion-icon>
            <p class="centro margen">0</p>
          </ion-col>

        </ion-row>

        <ion-row style="margin-top:8px;">
          <ion-col class="izquierda sin-margen">
            <p class="sin-margen">Talla</p>
            <p class="margen">•</p>
            <p class="margen estado-color">Estado</p>
            <p class="margen precio-color">•</p>
            <p class="margen precio-color">€</p>
          </ion-col>
          <ion-col class="derecha">
            <ion-icon class="para-iconos" name="calendar-number-outline"></ion-icon>
            <p class="margen">01/01/25</p>
          </ion-col>
        </ion-row>

        <ion-row style="margin-top: 0.2rem;" class="izquierda">
          <ion-col class="izquierda">
            <ion-icon size="small" name="location-outline"></ion-icon>
            <p class="margen">Ubicación</p>
          </ion-col>

          <ion-col style="height: 4vh" class="derecha sin-margen">
            <ion-chip style="margin-bottom: 0; margin-top: 0;"><b>Préstamo</b></ion-chip>
          </ion-col>
        </ion-row>

      </ion-col>

    </ion-row>
  </ion-grid>
</ion-card>
