.info-card {
  border-radius: 16px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  margin: 10px 5px 0px;
}
.btn-ver-mas{
  --background: #f0f0f0;
  --border-radius: 15px;
  border-radius: 15px;
  color: grey;
  font-weight: bold;
  width: 100%;
  height: 70%;
  border: 2px dashed grey;
}

ion-card-content{
  padding-bottom:5px;
}

.contendor-tarjetas{
  display: flex;
  flex-direction: row;
  gap: 15px;
}

