<ion-card class="tarjeta">
  <ion-item>
    <ion-avatar class="img_perfil" slot="start">
      <img src="https://ionicframework.com/docs/img/demos/avatar.svg" alt="Foto perfil">
    </ion-avatar>
    <ion-label>
      <h2 class="nombre">Ana Martinez</h2>
      <p class="puntuacion">
        <ion-icon name="star" class="estrella"></ion-icon> 4.8
      </p>
    </ion-label>
  </ion-item>

  <app-carta-chat-producto></app-carta-chat-producto>

  <p class="mensaje">Perfecto, nos vemos mañana.</p>
</ion-card>
