<div class="producto-card">
  <ion-grid>
    <ion-row>
      <div class="producto-card">
        <ion-grid>
          <ion-row>
            <div class="imagen-container">
              <ion-img [src]="primeraImagen || 'assets/icon/card-media.png'" alt="Imagen del producto" class="producto-imagen"></ion-img>

              <ion-chip class="chip-camara" (click)="cambiarFoto()">
                <ion-icon class="icono-camara" color="white" name="camera-outline"></ion-icon>
              </ion-chip>

              <ion-chip
                [ngClass]="(producto?.tipo | lowercase) === 'intercambio' ? 'chip-rosa' : 'chip-azul'"
                class="chip-intercambio"
                (click)="seleccionarTipoOferta()">
                <b>{{ producto?.tipo }}</b>
              </ion-chip>
            </div>
          </ion-row>
        </ion-grid>
      </div>
    </ion-row>

    <ion-row>
      <div class="info-container">

        <ion-input class="producto-titulo edit-input" [(ngModel)]="producto.titulo"></ion-input>

        <ion-textarea class="producto-descripcion edit-textarea" autoGrow="true" [(ngModel)]="producto.descripcion"></ion-textarea>

        <div class="chip-group">
          <ion-chip
            *ngFor="let est of estilosSeleccionados"
            [ngClass]="(producto?.tipo | lowercase) === 'intercambio' ? 'chip-rosa' : 'chip-azul'"
          >
            {{ est }}
            <ion-icon name="close-circle" class="icon-close" (click)="eliminarEstilo(est)"></ion-icon>
          </ion-chip>

          <ion-chip
            class="chip-add"
            (click)="agregarEstilo()"
            [ngClass]="(producto?.tipo | lowercase) === 'intercambio' ? 'chip-rosa' : 'chip-azul'"
          >
            <ion-icon name="add-outline"></ion-icon>
          </ion-chip>
        </div>

        <ion-row>
          <ion-col>
            <div class="detalle-item" (click)="seleccionarCategoria()">
              <span class="detalle-label">Categoría</span>
              <span class="detalle-valor">{{ producto?.categoria }}</span>
            </div>
          </ion-col>
        </ion-row>

        <div class="detalles-section">
          <ion-row>
            <ion-col>
              <div class="detalle-item" (click)="seleccionarTalla()">
                <span class="detalle-label">Talla</span>
                <span class="detalle-valor">{{ producto.talla || 'Selecciona talla' }}</span>
              </div>
            </ion-col>

            <ion-col>
              <div (click)="seleccionarEstado()" class="detalle-item">
                <span class="detalle-label">Estado</span>
                <span class="detalle-valor">{{ producto.estado || 'Selecciona estado' }}</span>
              </div>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <div class="detalle-item">
                <span class="detalle-label2">Marca</span>
                <ion-input class="detalle-valor" [(ngModel)]="producto.marca"></ion-input>
              </div>
            </ion-col>

            <ion-col>
              <div class="detalle-item"  (click)="seleccionarColor()">
                <span class="detalle-label">Color</span>
                <span class="detalle-valor">{{ producto.color || 'Selecciona color' }}</span>
              </div>
            </ion-col>
          </ion-row>
        </div>

        <div class="fecha-section">
          <ion-icon name="calendar-sharp" class="icon"></ion-icon>
          <p class="fecha-texto">Disponible hasta el:</p>

          <ion-button class="btn-modal" fill="outline" size="small" (click)="abrirFechaModal()">
            <ion-icon slot="start" name="calendar-outline"></ion-icon>
            {{ producto.fechaDevolucion || 'Selecciona fecha'  | date:'dd/MM/yyyy' }}
          </ion-button>

          <ion-modal
            #modalFecha
            [keepContentsMounted]="true"
            class="modal-calendario"
            [breakpoints]="[0, 0.5]"
            [initialBreakpoint]="0.5" > <ng-template>
            <ion-content class="ion-padding">
              <ion-datetime
                presentation="date-time"
                [(ngModel)]="producto.fechaDevolucion"
                [showDefaultButtons]="true"
                (ionCancel)="cerrarFechaModal()"
                (ionChange)="cerrarFechaModal()">
              </ion-datetime>
            </ion-content>
          </ng-template>
          </ion-modal>
        </div>

        <ng-container *ngIf="(producto?.tipo | lowercase) !== 'intercambio'">
          <div class="precio-section editable-price-line">
            <ion-icon class="icon" name="cash-sharp"></ion-icon>
            <span class="precio-texto-label">Precio por día:</span>

            <ion-input
              type="number"
              class="precio-valor edit-input-inline"
              placeholder="0"
              [(ngModel)]="producto.precio"
              inputmode="decimal">
            </ion-input>

            <span class="precio-unidad"><b>€</b></span>
          </div>
        </ng-container>

        <ion-row class="acciones-edicion">
          <ion-col>
            <ion-button class="btn-cancelar" expand="block" (click)="cancelarEdicion()"><b>Cancelar</b></ion-button>
          </ion-col>

          <ion-col>
            <ion-button class="btn-guardar" expand="block" (click)="guardarCambios()"><b>Guardar</b></ion-button>
          </ion-col>
        </ion-row>

      </div>
    </ion-row>
  </ion-grid>
</div>
