<div class="fondo">

  <ion-grid>
    <ion-row>
      <!-- Tarjeta 1 -->
      <ion-col size="6">
        <ion-card class="card-item">
          <div class="etiqueta prestamo">Préstamo</div>
          <img src="https://ionicframework.com/docs/img/demos/thumbnail.svg" alt="Camisa hawaiana" />
          <ion-card-content>
            <h2 class="titulo">Camisa hawaiana</h2>
            <p class="detalle">Talla S • <span class="excelente">Excelente</span> • <span class="precio">2€/día</span></p>
            <div class="info">
              <ion-icon name="calendar-outline"></ion-icon><span>12/12/25</span>
              <span class="fecha">Hace 2 días</span>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- Tarjeta 2 -->
      <ion-col size="6">
        <ion-card class="card-item">
          <div class="etiqueta intercambio">Intercambio</div>
          <img src="https://ionicframework.com/docs/img/demos/thumbnail.svg" alt="Vaqueros Levi's" />
          <ion-card-content>
            <h2 class="titulo">Vaqueros Levi’s</h2>
            <p class="detalle">Talla 32 • <span class="bueno">Muy bueno</span></p>
            <div class="info">
              <ion-icon name="calendar-outline"></ion-icon><span>14/12/25</span>
              <span class="fecha">Hace 3 días</span>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <!-- Tarjeta 3 -->
      <ion-col size="6">
        <ion-card class="card-item">
          <div class="etiqueta intercambio">Intercambio</div>
          <img src="https://ionicframework.com/docs/img/demos/thumbnail.svg" alt="Zapatillas Nike" />
          <ion-card-content>
            <h2 class="titulo">Zapatillas Nike</h2>
            <p class="detalle">Talla 40 • <span class="bueno">Muy bueno</span></p>
            <div class="info">
              <ion-icon name="calendar-outline"></ion-icon><span>23/12/25</span>
              <span class="fecha">Hace 4 días</span>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- Tarjeta 4 -->
      <ion-col size="6">
        <ion-card class="card-item">
          <div class="etiqueta prestamo">Préstamo</div>
          <img src="https://ionicframework.com/docs/img/demos/thumbnail.svg" alt="Reloj Casio Deluxe" />
          <ion-card-content>
            <h2 class="titulo">Reloj Casio Deluxe</h2>
            <p class="detalle">Talla S • <span class="bueno">Bueno</span> • <span class="precio">4€/día</span></p>
            <div class="info">
              <ion-icon name="calendar-outline"></ion-icon><span>25/12/25</span>
              <span class="fecha">Hace 4 días</span>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</div>
