.orden{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.margen{
  margin-left: 20px;
  font-size: 15px;
}
.sin-margen{
  margin: 0;
  margin-top:5px;
}
.img{
  width: 50px;
  height: 50px;
}
