<!-- Información básica -->
  <ion-card class="info-card">
    <ion-card-header>
      <ion-card-title class="margeny">Información básica</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div class="form-group">
        <ion-label>Título *</ion-label>
        <ion-input
          type="text"
          placeholder="Introduce un título"
          [(ngModel)]="titulo"
          (ngModelChange)="onTituloChange($event)"
          required
          class="input-text"
        ></ion-input>

      </div>

      <div class="form-group">
        <ion-label>Marca</ion-label>
        <ion-input
          type="text"
          placeholder="Marca del producto"
          [(ngModel)]="marca"
          (ngModelChange)="onMarcaChange($event)"
          class="input-text"
        ></ion-input>
      </div>

      <div class="form-group">
        <ion-label>Descripción</ion-label>
        <ion-textarea
          placeholder="Describe la prenda (color, estado, materiales...)"
          rows="3"
          [(ngModel)]="descripcion"
          (ngModelChange)="onDescripcionChange($event)"
          class="input-area"
        ></ion-textarea>

      </div>
    </ion-card-content>
  </ion-card>
