ion-card {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  border-radius: 16px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  margin: 10px 5px 0px;
}

.btn-publicar {
  font-size: 3vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
  height: 7vh;
  width: 90%;
  --background: linear-gradient(360deg, #f45097, #b0d2ff);
  --color: #fff;
  box-shadow: 0 2px 8px rgba(131, 131, 131, 0.4);
  --border-radius: 16px;
  border-radius: 16px;
  overflow: hidden;
}

